<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="4">

    <test name="Test 1">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="PageTests.LoginPageTest"/>
        </classes>
    </test>

    <test name="Test 2">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="PageTests.ProductPageTest"/>
        </classes>
    </test>
</suite>