<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test name="Test 1">-->
<!--        <parameter name="browserName" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="pageTests.LoginPageTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Test 2">-->
<!--        <parameter name="browserName" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="pageTests.ProductPageTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Test 3">-->
<!--        <parameter name="browserName" value="edge"/>-->
<!--        <classes>-->
<!--            <class name="pageTests.ProductPageTest"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Test 4">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="pageTests.LoginTest"/>
        </classes>
    </test>
</suite>